@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.banner{
    box-sizing: border-box;
    max-width:100%;
    min-height: 20vw;
    display: flex;
    float:none;
    align-items: center;
    padding: 10px;
    padding-left:1vw;
    padding-right:9vw;
    font-family: "Poppins", sans-serif;
    color: white;
    background-image: linear-gradient(to right, hsl(356,100%,69%), hsl(33, 94%, 72%) );
}

.heroImg{
    position:absolute;
    left:1vw;
    top: -50px;
    opacity: 50%;
    max-width: 400px;
}
.hidden{
    display: none;
}

.leftStacker{
    position: relative;
}

.rounded{
    border-radius: 0 0 300px 0;
}

@media screen and (max-width: 600px) {
    .banner{
        overflow: hidden;
        display:inline-block; 
        padding: 5px;
        float: none; 
        width:100vw; 
        max-width:100%;
        text-align: center;
        background-image: linear-gradient(hsl(356,100%,69%), hsl(33, 94%, 72%) );

    }

    .banner .leftPannel{
        padding:20px!important;
        min-width:100%;
    }

    .banner .rightPannel{
        padding: 30!important;
        min-width:100%;
    }

    .heroImg{
        display: none;
    }

}

.banner .leftPannel{
    position:relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    min-height: 100%;
    padding:75px;
}

.banner .rightPannel{
    box-sizing: border-box;
    float:left;
    max-width:40vw;
    display: inline-block;
    padding:50px;
}

.banner .bannerTxt{
    font-weight: bold;
    font-size: 60px;
    vertical-align: text-top;
    margin: 0;
}

.banner .subtitle{
    font-size: 24px;
}

.banner .imgSubtitle{
    font-size: 24px;
    text-wrap: stable;
    overflow: wrap-word;
}

.banner .bannerImg{
    display: block;
    max-width: 100%;
    height: auto;
}