.blockHolder{
    display: block;
    margin: 25px;
    padding: 10px;
}

.questionHolder{
    padding:5px;
    display: inline;
}

.answerHolder{
    padding:5px;
    display: block;
}

h4{
    display: inline;
    font-size: 24px;
 }

p{
   display: inline;
   font-size: 20px;
}
