.faqContents{
    margin-left:10vw;
    margin-right:10vw;
    padding:12px;
    font-family: 'Trebuchet MS', sans-serif;
    color:hsl(0,0%,30%);
    font-size: 30px;
}



.faqContents .QABlock{
    display: block;
    margin:10px;
}
