.homeContents{
    padding-left:10vw;
    padding-right:15vw;
    font-family: 'Trebuchet MS', sans-serif;
    color:hsl(0,0%,30%);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.homeContents h2{
    margin-bottom: 2vh;
    margin-top: 2vh;
    font-size: 64px;
}

.homeContents p{
    display: block;
    margin-top: 0px;
    margin-left: 2vw;
    padding: 12px;
}

.homeContents ul{
    width: 100%;
 }

.homeContents li{
    margin-left: 2vw;
    padding: 12px;
 }

.homeContents .moreInfo{
    margin-left: 0vw;
    padding: 25px;
 }
