.contentSide{
    margin-left:18%;
    display:"inline-block";
    max-width:82%;
}

@media screen and (max-width: 600px) {
    .contentSide{
        max-width: 100%;
        margin-left: 0;
    }
}