@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.teamContents{
    padding: 12px  calc(12px + 7vw) 12px calc(12px + 7vw);
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    color:hsl(0,0%,30%);
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50px 0px 0px 0px; 
    justify-content: space-around;
    background-color: lightgray;
}

.teamsHolder{
    width: 100%;
    margin:0;
    padding: 0;
    background-image: linear-gradient(to right, hsl(356,100%,69%), hsl(33, 94%, 72%) );
}